body {
    background-color: #f4f4f4;
}

/* End Main Rules */

/* Start Login Form */

.login {
    width: 300px;
    margin: 100px auto;
}

.login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color: #EAEAEA;
}

.login .btn {
    background-color: #008DDE;
}

/* End Login Form */

/* Start Main Rules */

